
/**
 *  Sidebar header
 */

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .rcx-button-group__item {
    font-size: 1.5rem;
    color: #000;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper {
    padding-top: 0;
    padding-bottom: 0;
    padding-block: 0;
}

/*
 *  Sidebar search
 */

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-sidebar-topbar__wrapper {
    padding: 14px 0 15px 10px;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-label {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-input-box {
    color: #929897;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-sidebar-topbar__wrapper .rc-icon {
    font-size: 1.5rem;
    color: #929897;
}

.sidebar-search-input .rcx-input-box + .rcx-input-box__addon,
.sidebar-search-input .rcx-input-box:focus + .rcx-input-box__addon {
    color: black;
}

/*
 *  Home page
 */

.page-container.page-home {
    background-color: #f3f3f3;
}

/*
 *  Avatar
 */

.rcx-avatar,
.rcx-box.rcx-avatar {
    border-radius: 50%;
    border: 2px solid #00FFEA;
    box-sizing: content-box;
}

.rcx-avatar > img {
    border-radius: 50%;
}

.rcx-avatar--x42 {
    width: 2.625rem;
    height: 2.625rem;
}

.rcx-avatar--x46 {
    width: 2.875rem;
    height: 2.875rem;
}

.rcx-avatar--x36 {
    width: 2.875rem;
    height: 2.875rem;
}

/*
 *  Messages
 */

.messages-container-wrapper .message .avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #00FFEA;
    box-sizing: content-box;
}

.messages-container-wrapper .message .avatar > img {
    border-radius: 50%;
}

.messages-container-wrapper .rcx-avatar--x48 {
    width: 90px;
    height: 90px;
}

.messages-container-wrapper .rcx-avatar-stack > .rcx-avatar > .rcx-avatar__element {
    border: none;
}

/*
 *  Connection status bar
 */

.ConnectionStatusBar {
    display: flex;
    justify-content: space-between;
    height: 54px;
    border-bottom: 7px solid #FFA700;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #FFE5B3;
    align-items: center;
    color: #1C1C1C;
    padding: 0 36px;
}

.ConnectionStatusBar__retry-link {
    text-decoration-line: underline;
    color: #00A69A;
}
