
/**
 *  Sidebar header
 */

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .rcx-button-group__item {
    font-size: 1.5rem;
    color: #000;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper {
    padding-top: 0;
    padding-bottom: 0;
    padding-block: 0;
}

/*
 *  Sidebar search
 */

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-sidebar-topbar__wrapper {
    padding: 14px 0 15px 10px;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-label {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-input-box {
    color: #929897;
}

.rcx-sidebar .rcx-sidebar-topbar .rcx-sidebar-topbar__wrapper .rcx-button-group .sidebar-search-input .rcx-sidebar-topbar__wrapper .rc-icon {
    font-size: 1.5rem;
    color: #929897;
}

.sidebar-search-input .rcx-input-box + .rcx-input-box__addon,
.sidebar-search-input .rcx-input-box:focus + .rcx-input-box__addon {
    color: black;
}

/*
 *  Sidebar users
 */

.rcx-sidebar .rcx-sidebar-item.rcx-sidebar-item--selected {
    background-color: #e6fffd;
}

.rcx-sidebar .rcx-sidebar-item:hover {
    background-color: #a5fef7;
}

.rcx-sidebar-item__menu-wraper .rcx-button--ghost:hover,
.rcx-sidebar-item__menu-wraper .rcx-button--ghost.hover,
.rcx-sidebar-item__menu-wraper .rcx-button--ghost.is-hovered {
    border-color: white;
    background-color: white;
}

/*
 *  Home page
 */

.page-container.page-home {
    background-color: #f3f3f3;
}

/*
 *  Toolbox actions
 */

.main-content .tool-box-action.rcx-button {
    width: 1.75rem;
    height: 1.5rem;
}

.main-content .tool-box-action.rcx-button .rc-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.main-content .tool-box-action.rcx-button i {
    display: none;
}

/*
 *  Avatar
 */

.rcx-avatar,
.rcx-box.rcx-avatar {
    border-radius: 50%;
    border: 2px solid #00FFEA;
    box-sizing: border-box;
}

.rcx-avatar > img {
    border-radius: 50%;
}

.avatar .avatar-image,
.rcx-avatar .rcx-avatar__element {
    background-color: #DEE0E0;
    object-fit: cover;
}

.rcx-sidebar-item__avatar .rcx-avatar.rcx-avatar--x16 {
    width: 1rem;
    height: 1rem;
}

.rcx-sidebar-item__avatar .rcx-avatar .rcx-avatar__element.rcx-avatar--x16 {
    width: 0.75rem;
    height: 0.75rem;
}

.rcx-avatar.rcx-avatar--x20 {
    width: 1.25rem;
    height: 1.25rem;
}

.rcx-avatar .rcx-avatar__element.rcx-avatar--x20 {
    width: 1rem;
    height: 1rem;
}

.rcx-sidebar-item__avatar .rcx-avatar.rcx-avatar--x28 {
    width: 1.75rem;
    height: 1.75rem;
}

.rcx-sidebar-item__avatar .rcx-avatar .rcx-avatar__element.rcx-avatar--x28 {
    width: 1.5rem;
    height: 1.5rem;
}

.rcx-sidebar-topbar__wrapper .rcx-avatar.rcx-avatar--x36,
.rcx-sidebar-item__avatar .rcx-avatar.rcx-avatar--x36,
.user-dropdown .rcx-avatar.rcx-avatar--x36,
.rcx-room-header .rcx-avatar.rcx-avatar--x36 {
    width: 2.875rem;
    height: 2.875rem;
}

.rcx-sidebar-topbar__wrapper .rcx-avatar .rcx-avatar__element.rcx-avatar--x36,
.rcx-sidebar-item__avatar .rcx-avatar .rcx-avatar__element.rcx-avatar--x36,
.user-dropdown .rcx-avatar .rcx-avatar__element.rcx-avatar--x36,
.rcx-room-header .rcx-avatar .rcx-avatar__element.rcx-avatar--x36 {
    width: 2.625rem;
    height: 2.625rem;
}

.messages-container-wrapper .rcx-avatar.rcx-avatar--x48 {
    width: 90px;
    height: 90px;
}

.messages-container-wrapper .rcx-avatar .rcx-avatar__element.rcx-avatar--x48 {
    width: 86px;
    height: 86px;
}

/*
 *  Messages
 */

.messages-container-wrapper .message {
    padding: 5px 50px 8px 82px;
}

.messages-container-wrapper .message .message-body-wrapper {
    margin-top: 3px;
}

.messages-container-wrapper .message .thumb:not(.thumb-small) .avatar,
.messages-container-wrapper .message .avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #00FFEA;
    box-sizing: border-box;
}

.messages-container-wrapper .message .thumb {
    width: 46px;
    height: 46px;
}

.messages-container-wrapper .message .avatar > img {
    border-radius: 50%;
}

.messages-container-wrapper .rcx-avatar-stack > .rcx-avatar > .rcx-avatar__element {
    border: none;
}

.messages-container-wrapper .message:hover {
    background: rgba(0, 255, 234, 0.1);
}

.messages-container-wrapper .start .mention-link {
    color: #00A69A;
    background: #A3FFF8;
    border-radius: 4px;
    padding: 5px 24px;
}

.message .message-actions {
    border: none;
    border-radius: 7px;
    padding: 7px;
    right: 24px;
    top: -16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.message .message-actions .rc-icon.message-actions__button-icon,
.message .message-actions .rc-icon.message-actions__menu-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.message .message-actions .message-actions__button,
.message .message-actions .message-actions__menu {
    padding: 8px;
}

.message .message-actions .message-actions__button:hover,
.message .message-actions .message-actions__menu:hover {
    background-color: unset;
}

.message .message-actions .message-actions__button-icon,
.message .message-actions .message-actions__menu-icon,
.message .message-actions .message-actions__button:hover > svg > use,
.message .message-actions .message-actions__menu:hover > svg > use {
    fill: #00FFEA;
}

.message .message-actions .message-actions__button:hover > svg path,
.message .message-actions .message-actions__menu:hover > svg path {
    fill: inherit;
}

/*
 *  Message box
 */

.rc-message-box .rc-message-box__container {
    border: 2px solid #1C1C1C;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 0;
}

.rc-message-box .rc-message-box__container .rc-message-box__icon {
    height: 38px;
}

.rc-message-box .rc-message-box__container .rc-message-box__icon.rc-message-box__send {
    filter: drop-shadow(0px 2.24444px 4.48889px rgba(75, 81, 91, 0.15)) drop-shadow(0px 0.748148px 2.24444px rgba(0, 0, 0, 0.15));
    background: #00FFEA;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

/*
 *  User card
 */

.rcx-user-card .rcx-avatar.rcx-avatar--x124 {
    width: 90px;
    height: 90px;
}

.rcx-user-card .rcx-avatar .rcx-avatar__element.rcx-avatar--x124 {
    width: 86px;
    height: 86px;
}

.rcx-user-card .rcx-icon--name-cross {
    color: black;
}

.rcx-user-card .user-card-info .user-card-info-status p {
    margin: 0;
}

.rcx-user-card .user-card-info .user-card-info-open-profile a {
    color: #00A69A;
    text-decoration: underline;
}

/*
 *  Connection status bar
 */

.ConnectionStatusBar {
    display: flex;
    justify-content: space-between;
    height: 54px;
    border-bottom: 7px solid #FFA700;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #FFE5B3;
    align-items: center;
    color: #1C1C1C;
    padding: 0 36px;
}

.ConnectionStatusBar__retry-link {
    text-decoration-line: underline;
    color: #00A69A;
}

/*
 *  Room error
 */

.container-bars.show {
    margin: 0;
    box-shadow: none;
}

.container-bars.show .upload-progress {
    display: flex;
    justify-content: space-between;
    height: 54px;
    border-bottom: 7px solid #FFA700;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #FFE5B3;
    align-items: center;
    color: #1C1C1C;
    padding: 0 36px;
}

.container-bars.show .upload-progress .upload-progress-text {
    padding: 0;
    font-weight: normal;
    height: unset;
}

.container-bars.show .upload-progress .upload-progress-close {
    text-transform: capitalize;
    text-decoration-line: underline;
    color: #00A69A;
}

/*
 *  User dropdown
 */

.rc-popover.rc-popover--user-dropdown .rc-popover__content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 24px;
}

/*
 *  Modals
 */

.rcx-modal .rcx-modal__inner {
    border-radius: 7px;
}

.rcx-modal .rcx-modal__header {
    background-color: #1C1C1C;
    margin: 0;
    margin-bottom: 32px;
    padding: 8px 24px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.rcx-modal .rcx-modal__header .rcx-modal__title {
    font-size: 18px;
    color: #F3F3F3;
}

.rcx-modal .rcx-modal__header .rcx-button .rcx-icon {
    color: white;
    font-size: 1rem!important;
}

.rcx-modal .rcx-modal__footer .rcx-button {
    border: 2px solid #001312;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 7px 42px;
    text-transform: uppercase;
    color: #1C1C1C;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.rcx-modal .rcx-modal__footer .rcx-button.rcx-button--primary {
    border-color: #00FFEA;
    background: #00FFEA;
}

/*
 *  Autocomplete input
 */

.rcx-autocomplete .rcx-icon.rcx-icon--name-cross {
    display: none;
}

/*
 *  Unlock
 */

.rcx-message-attachment .unlock-button-container {
    position: relative;
}

.rcx-message-attachment .unlock-button-container .unlock-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rcx-message-attachment .unlock-button {
    color: #1C1C1C;
    text-transform: uppercase;
    background-color: #00FFEA;
    padding: 0 38px !important;
    border-radius: 19px;
    line-height: 38px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.5px;
}
